[Unit]
Description=Keeps a tunnel to 'remote.example.com' open
After=network-online.target

[Service]
#Inser user below
User=[local username]
# -p [PORT]
# -l [user]
# -M 0 --> no monitoring
# -N Just open the connection and do nothing (not interactive)
# LOCALPORT:IP_ON_EXAMPLE_COM:PORT_ON_EXAMPLE_COM
Environment=AUTOSSH_GATETIME=0
ExecStart=/usr/bin/autossh -M 0 -N -q -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -R [some local port not being used, eg 3024]:127.0.0.1:22 -i /home/pi/.ssh/id_rsa [example.com target user]@[example.com] -p [port forwarded on example.com router]

[Install]
WantedBy=multi-user.target
