[Unit]
Description=Python serial port listener for incoming data
 
[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python /home/pi/git/tank_lora/python/queue_listen.py

[Install]
WantedBy=multi-user.target
