[Unit]
Description=Python serial listener for incoming tank data
 
[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/python /home/marcus/git/tank_lora/python/api/monitor.py

[Install]
WantedBy=multi-user.target
