[Unit]
Description=Flask app for tank monitor

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/uwsgi -s /tmp/tanktestapi.sock  --manage-script-name --mount /home/marcus/git/tank_lora/python/api/tank_views=myapp:app

[Install]
WantedBy=multi-user.target
