[Unit]
Description=Flask app for tank monitor

[Service]
User=marcus
ExecStart=/usr/bin/uwsgi --ini /home/marcus/git/tank_lora/python/api/uwsgi-api.ini
Restart=always
KillSignal=SIGQUIT
#Type=notify
#StandardError=syslog
#NotifyAccess=all

[Install]
WantedBy=multi-user.target
