[Unit]
Description=Telegram bot application for tank alerts
 
[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python /home/pi/git/tank_lora/python/alerts.py

[Install]
WantedBy=multi-user.target

