# don not use this! use dockers restart policy and systemd can manage overall docker daemon
[Unit]
Description=Tank monitor Container
Requires=docker.service
After=docker.service

[Service]
Restart=on-abnormal
ExecStart=/usr/bin/docker run start tanks/monitor:1.1
ExecStop=/usr/bin/docker stop -t 2 tanks/monitor:1.1

[Install]
WantedBy=local.target
