# no longer serving content so do not use
[Unit]
Description=Flask app for tank monitor

[Service]
User=pi
#ExecStart=/usr/local/bin/uwsgi --ini /home/pi/git/tank_lora/python/api/uwsgi-api.ini
ExecStart=/usr/bin/python /home/pi/git/tank_lora/python/api/tank_views.py
Restart=always
KillSignal=SIGQUIT
#Type=notify
#StandardError=syslog
#NotifyAccess=all

[Install]
WantedBy=multi-user.target
